Repository dnunez24/vivace: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

chore: add public publish settings for scoped packages
  packages/audio/package.json
  packages/notation/package.json
  packages/operations/package.json
  packages/theory/package.json
Due: prettier --write

chore: add github CODEOWNERS config
  .github/CODEOWNERS
Due: none

chore: add github issue template for bugs
  .github/ISSUE_TEMPLATE/00-bug.yml
Due: none

chore: add feature issue template for github
  .github/ISSUE_TEMPLATE/00-bug.yml
  .github/ISSUE_TEMPLATE/01-feature.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: fix github issue templates
  .github/ISSUE_TEMPLATE/00-bug.yml
  .github/ISSUE_TEMPLATE/01-feature.yml
Due: none

chore: fix feature issue template for github
  .github/ISSUE_TEMPLATE/01-feature.yml
Due: none

chore: make contribution field required for feature issues
  .github/ISSUE_TEMPLATE/01-feature.yml
Due: none

chore: fix typescript and eslint monorepo config
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  package.json
  packages/audio/package.json
  packages/audio/tsconfig.json
  packages/notation/package.json
  packages/notation/tsconfig.json
  packages/operations/package.json
  packages/operations/tsconfig.json
  packages/theory/package.json
  packages/theory/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write

chore: fix additional issues with tsconfig and eslint for monorepo
  .eslintrc.json
  .gitignore
  package.json
  packages/audio/tsconfig.build.json
  packages/notation/tsconfig.build.json
  packages/operations/src/index.ts
  packages/operations/tests/transpose.test.ts
  packages/operations/tsconfig.build.json
  packages/theory/tsconfig.build.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write

chore: add files config for publishing dist dir for each package
  packages/audio/package.json
  packages/notation/package.json
  packages/operations/package.json
  packages/theory/package.json
Due: prettier --write

build: add script to check for changed source files
  package.json
Due: prettier --write

ci: configure jest to use project-local cache directory (easier in CI)
  .gitignore
  jest.config.ts
Due: eslint --cache --fix, prettier --write

ci(gh-actions): add test workflow config for GitHub actions
  .github/workflows/test.yml
Due: none

ci(gh-actions): fix GitHub workflow for tests
  .github/workflows/test.yml
Due: none

ci(gh-actions): fix syntax for setup job in GitHub test workflow
  .github/workflows/test.yml
Due: none

refactor(theory): add dummy constructor args for OrderedPitchClassSet to test CI
  packages/theory/src/pitch/OrderedPitchClassSet.ts
Due: eslint --cache --fix, prettier --write

ci(gh-actions): change path matcher for GitHub test action
  .github/workflows/test.yml
Due: none

ci(gh-actions): add required runs-on property for test workflow
  .github/workflows/test.yml
Due: none

ci(gh-actions): log working directory contents to diagnose test workflow error
  .github/workflows/test.yml
Due: none

ci(gh-actions): move install steps into test and lint jobs for GitHub test workflow
  .github/workflows/test.yml
Due: none

build: add package name to repo root package.json to fix npm ci error
  package.json
Due: prettier --write

ci(gh-actions): fix lint and test jobs for GitHub workflow
  .github/workflows/test.yml
  package.json
Due: prettier --write

ci(gh-actions): checkout main branch explicitly for github test workflow
  .github/workflows/test.yml
Due: none

ci(gh-actions): use origin remote for checking out main branch for github test workflow
  .github/workflows/test.yml
Due: none

ci(gh-actions): install latest version of npm in CI
  .github/workflows/test.yml
  package.json
Due: prettier --write

ci(gh-actions): fix typescript builds for CI
  .eslintrc.json
  .github/workflows/test.yml
  package.json
  packages/operations/src/transpose.ts
  packages/theory/src/pitch/Pitch.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write

ci(gh-actions): change jest to run with onlyChanged instead of changedSince
  .github/workflows/test.yml
  package.json
Due: prettier --write

build(tsconfig): reorder tsconfig project references so deps build in correct order
  tsconfig.build.json
Due: prettier --write

ci(gh-actions): configure github test action to fetch base branch
  .github/workflows/test.yml
  package.json
Due: prettier --write

ci(gh-actions): use SHA instead of branch ref for test only changes
  .github/workflows/test.yml
Due: none

feat(operations): wrap transposition around octave (12 semitones)
  packages/operations/src/transpose.ts
Due: eslint --cache --fix, prettier --write

ci(gh-actions): use different refs for git checkout in test workflow
  .github/workflows/test.yml
Due: none

ci(gh-actions): fetch from origin for test workflow
  .github/workflows/test.yml
Due: none

ci(gh-actions): use git sha instead of head_ref for code checkout in test
  .github/workflows/test.yml
Due: none

ci(gh-actions): run jest sinceChanged against origin/main
  .github/workflows/test.yml
  package.json
Due: prettier --write

ci(gh-actions): fix commented out line in github test workflow
  .github/workflows/test.yml
Due: none

ci(gh-actions): check out origin base branch for tests
  .github/workflows/test.yml
Due: none

ci(gh-actions): run all tests for pull requests to main branch
  .github/workflows/test.yml
  package.json
Due: prettier --write

ci(gh-actions): refactor scripts to separate files for use in both CI and dev env
  .eslintrc.json
  .github/workflows/test.yml
  package.json
  scripts/bootstrap.sh
  scripts/build.sh
  scripts/lint.sh
  scripts/test.sh
Due: prettier --write

ci(gh-actions): fix bootstrap script
  scripts/bootstrap.sh
  scripts/build.sh
Due: none

Path conditions:
  eslint --cache --fix: any of: **/*.ts
  prettier --write: any of: **/*.{js,json,ts,md}
