Repository dnunez24/vivace: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.ts": "eslint --cache --fix",
  "**/*.{js,json,ts,md}": "prettier --write"
}

refactor(core): remove constructor from PitchClassSet
  packages/core/src/pitch/PitchClassSet.ts
Due: eslint --cache --fix, prettier --write

chore(release): 0.0.0
  CHANGELOG.md
Due: prettier --write

chore: rebase with main
  packages/core/src/pitch/PitchClassSet.ts
Due: eslint --cache --fix, prettier --write

chore(release): 0.0.1
  CHANGELOG.md
  packages/audio/package.json
  packages/core/package.json
  packages/notation/package.json
  packages/operations/package.json
Due: prettier --write

ci(github-actions): add CodeQL code analysis (#9)
  .github/workflows/codeql-analysis.yml
Due: none
