Repository dnunez24/vivace: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.ts": "eslint --cache --fix",
  "**/*.{js,json,ts,md}": "prettier --write"
}

ci(gh-actions): don't use workspace flag with install
  scripts/bootstrap.sh
Due: none

ci(gh-actions): fix install command for test workflow
  scripts/bootstrap.sh
Due: none

ci(gh-actions): fix env var for bootstrap script
  scripts/bootstrap.sh
Due: none

ci(gh-actions): fix npm install for CI
  scripts/bootstrap.sh
Due: none

ci(gh-actions): fix test script for CI
  scripts/test.sh
Due: none

ci(gh-actions): colorize jest output in CI
  scripts/test.sh
Due: none

fix(operations): fix logic for transpose function
  packages/operations/src/transpose.ts
Due: eslint --cache --fix, prettier --write

Configure GitHub actions for continuous integration (tests) (#2)
  .eslintrc.json
  .github/workflows/test.yml
  .gitignore
  jest.config.ts
  package.json
  packages/operations/src/transpose.ts
  packages/theory/src/pitch/OrderedPitchClassSet.ts
  packages/theory/src/pitch/Pitch.ts
  scripts/bootstrap.sh
  scripts/build.sh
  scripts/lint.sh
  scripts/test.sh
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write

build: fix build watch script
  scripts/build.sh
Due: none

build: fix build watch script (#3)
  scripts/build.sh
Due: none

ci(gh-actions): configure repo for releasing on merge to main branch
  .github/workflows/release.yml
  .versionrc.json
  packages/audio/.versionrc.json
  packages/audio/package.json
  packages/core/.versionrc.json
  packages/core/README.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/pitch/OrderedPitchClassSet.ts
  packages/core/src/pitch/Pitch.ts
  packages/core/src/pitch/PitchClassSet.ts
  packages/core/src/pitch/UnorderedPitchClassSet.ts
  packages/core/src/pitch/index.ts
  packages/core/src/rhythm/index.ts
  packages/core/tests/UnorderedPitchClass.test.ts
  packages/core/tsconfig.build.json
  packages/notation/.versionrc.json
  packages/notation/package.json
  packages/operations/.versionrc.json
  packages/operations/package.json
  packages/operations/src/set.ts
  packages/operations/src/transpose.ts
  packages/operations/tests/transpose.test.ts
  packages/theory/src/rhythm/index.ts
  scripts/release.sh
  tsconfig.build.json
Due: eslint --cache --fix, prettier --write

ci(gh-actions): create version/release workflow and scripts
  .github/workflows/release.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  scripts/release.sh
  scripts/version.sh
Due: prettier --write

chore: remove lerna config
  lerna.json
Due: prettier --write

chore: remove individual package .versionrc files
  packages/audio/.versionrc.json
  packages/core/.versionrc.json
  packages/notation/.versionrc.json
  packages/operations/.versionrc.json
Due: prettier --write

chore: rework scripts for build and release
  .eslintrc.json
  .gitignore
  .prettierignore
  package.json
  packages/audio/README.md
  packages/audio/package.json
  packages/audio/tsconfig.build.json
  packages/core/README.md
  packages/core/package.json
  packages/core/test/UnorderedPitchClass.test.ts
  packages/core/tsconfig.build.json
  packages/notation/README.md
  packages/notation/package.json
  packages/notation/tsconfig.build.json
  packages/operations/README.md
  packages/operations/package.json
  packages/operations/test/transpose.test.ts
  packages/operations/tsconfig.build.json
  scripts/build.sh
  scripts/lint.sh
  scripts/test.sh
  tsconfig.json
Due: eslint --cache --fix, prettier --write

chore: remove build step from bootstrap script
  scripts/bootstrap.sh
Due: none

chore: add space around github workflow vars
  .github/workflows/release.yml
Due: none

ci: run build script before test
  package.json
Due: prettier --write

ci(gh-actions): fix version and publish steps for release workflow
  .github/workflows/release.yml
  scripts/version.sh
Due: none

ci(gh-actions): fix version and publish steps for release workflow (#5)
  .github/workflows/release.yml
  scripts/version.sh
Due: none

refactor(core): add constructor for PitchClassSet
  packages/core/src/pitch/PitchClassSet.ts
Due: eslint --cache --fix, prettier --write

refactor(core): add constructor for PitchClassSet (#6)
  packages/core/src/pitch/PitchClassSet.ts
Due: eslint --cache --fix, prettier --write

ci(gh-actions): set global git config user info for version commit push
  scripts/version.sh
Due: none

ci(gh-actions): set global git config user info for version commit push (#7)
  scripts/version.sh
Due: none

refactor(core): remove constructor from PitchClassSet
  packages/core/src/pitch/PitchClassSet.ts
Due: eslint --cache --fix, prettier --write

refactor(core): remove constructor from PitchClassSet (#8)
  packages/core/src/pitch/PitchClassSet.ts
Due: eslint --cache --fix, prettier --write

ci(github-actions): add CodeQL code analysis
  .github/workflows/codeql-analysis.yml
Due: none

ci(gh-actions): adjust config for github package registry push
  .github/workflows/release.yml
  packages/core/src/pitch/PitchClassSet.ts
  scripts/version.sh
Due: eslint --cache --fix, prettier --write

ci(gh-actions): adjust config for github package registry push (#10)
  .github/workflows/release.yml
  scripts/version.sh
Due: none

refactor(core): create code change to force package publish
  packages/core/src/pitch/PitchClassSet.ts
Due: eslint --cache --fix, prettier --write

refactor(core): change PitchClassSet to force publish
  packages/core/src/pitch/PitchClassSet.ts
Due: eslint --cache --fix, prettier --write

refactor(core): remove constructor from PitchClassSet (#12)
  packages/core/src/pitch/PitchClassSet.ts
Due: eslint --cache --fix, prettier --write

chore: merge with upstream
  .github/workflows/release.yml
  scripts/version.sh
Due: none

chore: rebase with upstream
  scripts/version.sh
Due: none

ci(gh-actions): only run git prepare-commit-msg hook when not in CI
  .husky/prepare-commit-msg
  scripts/version.sh
Due: none
